<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedFind</title>
</head>
<body >
    <div style="text-align: center; margin-top: 150px;">
        <img src="images/logo.png" class="logo" style="width: 75px; ">
        <h1 class="h3 mb-3 fw-normal medlog">MedFind</h1>
        <form action="/" method="post">
          
            <table style="margin-left:500px;">
                <tr>
                    <td>
                        <button type="submit" name="button" value="user" ><img src="images/th.png"  height="80" width="170"></button> 
                    </td>
                    <td>
                        <button type="submit" name="button" value="pharma" ><img src="images/ph.png"  height="80" width="170"></button> 
                </td>
                <tr>
                   <td>
                    <label for="user">User Login</label>
                   </td> 
                   <td>
                    <label for="pharma">pharma login</label>
                   </td>
                </tr>
            </table>
                        
           
             
            
            <!-- <button type="submit" name="user" style="width: 200px;"> <img  src="images/th.png" alt=""></button>
            <button type="submit" name="pharma" style="width: 250px;"> <img src="images/ph.png" alt=""></button> -->
        </form>
    </div>
    
    
    
   
   
</body>
</html>